:root {
  font-size: 62.5%; /* 10px */
  --color-dark: #181a20;
  --color-light: #c5c3c3;
  --color-primary: #ac2b2b;
  --size: 1rem;
  --spacing: calc(var(--size) * 0.8);
}

body {
  background: var(--color-dark);
  color: var(--color-light);
  padding: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Times New Roman", "Segoe UI",Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: calc(var(--size) * 1.7);
  line-height: 1.5;
  min-height: 80vh;
  max-width: 1600px;
  margin: 0 auto;
  word-wrap: break-word;
}

header,
main,
footer {
  max-width: 720px;
  margin-inline: auto;
}

header {
  padding-bottom: var(--spacing);
}

nav a, a.blog-tags {
  margin-right: calc(var(--spacing) / 2);
}
a.blog-tags {
  line-height: 2;
}

main {
  padding-bottom: var(--spacing);
}

footer {
  text-align: center;
  padding-top: var(--spacing);
}

a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.5ex;
}

a:hover {
  text-decoration-thickness: 0.5ex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: calc(var(--size) * 3.5);
}
h2 {
  font-size: calc(var(--size) * 3.0);
}
h3 {
  font-size: calc(var(--size) * 2.6);
}
h4 {
  font-size: calc(var(--size) * 1.8);
}

li {
  margin-block-start: calc(var(--spacing) * 0.5);
}

blockquote {
  padding-inline-start: var(--spacing);
  border-inline-start: 0.15em dotted;
  font-style: italic;
}

:is(h1, h2, h3, h4, blockquote) {
  margin-block-end: calc(var(--spacing) / 2);
}
:is(h1, h2, h3, h4) + * {
  margin-block-start: calc(var(--spacing) / 3);
}
:is(h1, h2, h3, h4) + :where(h2, h3, h4) {
  margin-block-start: calc(var(--spacing) * 2);
}

.title {
  text-decoration: none;
}
.title h1 {
  font-size: calc(var(--size) * 3.4);
  margin-top: calc(var(--spacing) / 2);
}

ul.blog-posts {
  list-style-type: none;
  padding: unset;
}
ul.blog-posts li {
  display: flex;
  flex-direction: column;
}
ul.blog-posts li span {
  min-width: 11ch;
}

p.byline {
  opacity: 0.5;
}

code {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro',
    Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  padding: 2px calc(var(--spacing) / 4);
  background-color: #282a36;
  font-size: calc(var(--size) * 1.4);
}
pre code {
  display: block;
  padding: var(--spacing);
  overflow-x: auto;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

table {
  width: 92%;
  margin: 0 auto;
}
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: var(--color-light);
  padding: calc(var(--spacing) / 1.5);
}

.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
}

@media screen and (min-width: 600px) {
  ul.blog-posts li {
    flex-direction: row;
    gap: calc(var(--spacing) / 2);
  }
}

/* "Skip to main content" link */
.skip-link {
  position: absolute;
  top: 5;
  transform: translateY(-600%);
  transition: transform 0.5s;
  background-color: #181a20;
  padding: 6px;
}

.skip-link:focus {
  transform: translateY(0%);
}

figure {
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

figcaption > p {
  margin-block-start: 9px;
  text-align: center;
  font-style: italic;
}

body.dark,
body[data-theme="dark"],
body[data-color-mode="dark"],
.theme-dark {
  --adm-bg: #1d1e20;
  --adm-text: #e6e6e6;
  --adm-code-bg: #313244;
}